# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.pyo

# Virtual environment folders
venv/
.env/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.venv/Lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache

# VS Code
.vscode/

# PyCharm
.idea/

# Mac/Unix system files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# IntelliJ / PyCharm
.idea/

